body
{
	background: #333;
}
section#container
{
	width: 960px;
	margin: 0 auto;
	border: 1px solid #000;
}
header
{
	margin: 0 auto;
	border: 1px solid #000;
	background: #ccc
}
header img
{
	width: 200px;
	height: 200px;
	padding: 10px 20px; /* 10 pixeles de arriba a abajo y 20 pixeles a los lados */
}
header #buscador
{
	float: right;
	padding-right: 20px; /* El elemento flota a 20 pixeles del margen derecho */
	margin-top: 90px;

}
div#content
{
	width: 650px;
	margin: 0 auto;
	border: 1px solid #000;
	background: #c3c3c3;
	float: left;
	padding: 10px; /* El ancho se ajusta restando el valor del padding */
}
aside
{
	width: 266px;
	margin: 0 auto;
	border: 1px solid #000;
	background: #c3c3c3;
	float: left;
	padding: 10px; /* el valor de padding aplica para todos los lados */
}
footer
{

	margin: 0 auto;
	border: 1px solid #000;
	background: #ddd;
	text-align: center;
}
.nf /* no flotar */ 
{
	clear: both;
}